.setting .container{
  max-width: 100%;
}
.setting{
  background-color: #6dd4fa09;
}
.sideBar{
  margin: 12rem 0 0 0 !important;
  list-style-type: none;
  padding: 0 2rem !important;
}
.sideBar li{
  padding: 1rem !important;
  border-bottom: 1px solid #c6ccdc;
  cursor: pointer;
  text-align: left;
}
.sideBar li:first-child{
  border-top: 1px solid #c6ccdc;
}
.setting .col-md-3{
  border-right: 1px solid #c6ccdc;
  min-height: 90vh;
}
@media only screen and (max-width: 768px) {
  .setting .col-md-3{
    border-right: none;
    min-height: auto;
  }
  .sideBar{
    margin: 5rem 0 0 0 !important;
  }
    
}